section {
    .pinkbar{
        background-color: #f6cfca;
        width:1920px;
        height:120px;
        border-left: 1px solid #707070;
        border-right: 1px solid #707070;
        
    }

    .content {
        width: 1920px;
        height: 934px;
        background-color: #eceae0;
        display: flex;

        .handsimg {
            background-color: #eceae0;
            margin-top: 95px;
            margin-left: 123px;
        }

        .contentinside {
            width: 822px;
            height: 677px;
            font-size: 36px;
            margin-top: 112px;
            margin-left: 140px;
            line-height: 44px;


            h3 {
                font-weight: bold;

            }

            h4 {
                font-weight: 900;
                font-style: italic;
            }
            
            .bktbutton {
                margin-top: 130px;
                margin-left: 350px;
                
                .bekindtodaybutton {
                    border-radius: 25px;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.62);
                    background-color: #dccab0;
                    text-align: center;
                    padding: 10px 39px;
                    
                }
    
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: bold;
                }

            }

            
        }
    }
}