header {
    width: 1920px;
    height: 1056px;
    // background-image: url(../img/kindness.jpg);
    // background-color: rgba(239, 237, 228, 0.38);
    background: linear-gradient( rgba(239, 237, 228, 0.38), rgba(239, 237, 228, 0.38) ), url(../img/kindness.jpg);
    
    .titlearea {
        display: flex;
        // display: inline-block;
        // text-align: center;
        width: 1920px;
        flex-direction: row;
        padding-top: 38px;

        .title {
            width: 1920px;
            height: 72px;
            font-family: Montserrat;
            font-size: 50px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: normal;
            color: #000000;
            text-align: center;
            padding-left: 350px;
        }

        .signinbutton {
            text-decoration: none;
            width: 179px;
            height: 60px;
            box-shadow: 0 3px 6px 0 #000000;
            background-color: #8e8d8a;
            font-size: 3rem;
            font-weight: bold;
            color: #ffffff;
            border-radius: 25px;
            text-align: center;
            line-height: 60px;
            margin-right: 9.5px;
            margin-top: 5px;
            font-family: Montserrat;
            font-weight: bold;
        }

        .signupbutton {
            text-decoration: none;
            width: 179px;
            height: 60px;
            box-shadow: 0 3px 6px 0 #000000;
            background-color: #dccab0;
            font-size: 3rem;
            font-weight: bold;
            color: #707070;
            border-radius: 25px;
            text-align: center;
            line-height: 60px;
            margin-left: 9.5px;
            margin-right: 51px;
            margin-top: 5px;
            font-family: Montserrat;
        }

    }
    
    nav {
        text-align: center;
        font-size: 30px;
        height: 37px;
        margin-top: -15px;
        
        
        a {
            text-decoration: none;
            color: #000000;
            margin-left: 55px;
            margin-right: 55px;
        }
    }

    .lightened-area {
        width: 1829px;
        height: 413px;
        background-color: rgba(255, 255, 255, 0.47);
        margin-top: 375px;

        .intro {
            font-size: 50px;
            margin-left: 375px;
            padding-top: 150px;
        }

        .findoutmorebutton {
            margin-left: 1500px;
            margin-top: 60px;

            .fombutton {
                padding: 15px 30px;
                text-decoration: none;
                background-color: #dccab0;
                border-radius: 25px;
                font-size: 30px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.62);
                font-weight: bold;
                color: #ffffff;
            }
        }

        
    }
}